{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Chat{% endblock %}</h1>
{% endblock %}

{% block content %}
<button type="button" id="toTheBottom" class="btn btn-primary">To the bottom of the page!</button>
<div id="container" class="well"></div>

<div class="form-group">
  <label>Message</label>
  <input type="text" class="form-control" id="message" placeholder="Type message here...">
</div>

<button type="button" id="sendMessageButton" class="btn btn-primary">Send</button>

<script>
  window.room_name = "{{ room_name }}"
</script>

<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}