<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>{% block title %}{% endblock %} - Message Jar</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img src="{{ url_for('static', filename='jar.svg') }}" alt="Message Jar Logo" height="25">
  <h1><a href="{{ url_for('jar.index') }}">Message Jar</a></h1>
  <ul>
    {% if g.user %}
    <li><a href="{{ url_for('user.index') }}">{{ g.user['username'] }}</a>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a>
    <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>