{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Invite Links{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>

{% if invite_links %}
Here are your invites:
<br><br>

<div id="tokens">
    {% for i in invite_links %}
    <div class="token">

        <div>
            {{ i["room"] }} - <a href="/i?token={{ i['token'] }}">{{ i["invite_name"]}}</a>
        </div>

        <form action="{{ url_for('user.rmlink') }}" method="POST" style="margin: 0;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="link" value="{{ i['token'] }}">
            <!--material-symbols-light:delete-outline-sharp from https://icon-sets.iconify.design/-->
            <button type="submit" class="icon-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M6 20V6H5V5h4v-.77h6V5h4v1h-1v14zm1-1h10V6H7zm2.808-2h1V8h-1zm3.384 0h1V8h-1zM7 6v13z" />
                </svg>
            </button>
        </form>

    </div>
    {% endfor %}
</div>
{% endif %}

<br>
Create an invitation here:
<form action="{{ url_for('user.invite_page') }}" method="post">
    <select name="room" required>
        <option value="" disabled selected>Select a Room</option>
        {% for i in room_list %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="text" name="invite_name" placeholder="Name" autocomplete="off" required>
    <br><br>
    <input type="submit" value="Create Invite Link">
</form>
{% endblock %}