{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="old_password">Old Password</label>
  <input name="old_password" id="old_password" type="password" required>
  <br><label for="new_password">New Password</label>
  <input name="new_password" id="new_password" type="password" required>
  Retype password:
  <input name="new_password_rep" id="new_password_rep" type="password" required>
  <input type="submit" value="Change Password">
</form>
{% endblock %}