{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Tokens{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>

{% if token_list %}
Here are your tokens:


<div id="tokens">
    {% for i in token_list %}
    <div class="token">

        <div style="display: flex; align-items: center; gap: 10px;">
            <span>{{ i["tokenname"] }}</span>
            <button id="copyBtn" datatoken="{{ i['token'] }}" class="icon-button" style="padding: 4px;"
                onclick="copyToken(this)">Copy
                Token</button>
        </div>

        <script>
            function copyToken(btn) {
                navigator.clipboard.writeText(btn.datatoken).then(() => {
                    const originalText = btn.innerText;
                    btn.innerText = "Copied!";
                    setTimeout(() => btn.innerText = originalText, 2000);
                }).catch(err => console.error("Failed to copy: ", err));
            }
        </script>

        <form action="{{ url_for('user.rmtoken') }}" method="POST" style="margin: 0;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="token" value="{{ i['token'] }}">
            <button type="submit" class="icon-button">
                <!--material-symbols-light:delete-outline-sharp from https://icon-sets.iconify.design/-->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M6 20V6H5V5h4v-.77h6V5h4v1h-1v14zm1-1h10V6H7zm2.808-2h1V8h-1zm3.384 0h1V8h-1zM7 6v13z" />
                </svg>
            </button>
        </form>

    </div>
    {% endfor %}
</div>

{% endif %}

<br>
Create a new token here:
<form action="{{ url_for('user.tokens') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="text" name="token_name" placeholder="Token name" autocomplete="off" required>
    <br><br>
    <input type="submit" value="Add Token">
</form>
{% endblock %}